<div class="table-responsive table-container">		
    <table class="table table-hover bg-white">
        <thead class="thead-light bg-info">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nama Undian</th>
            <th scope="col">Maksimal Peserta</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Aksi</th>
            </tr>
        </thead>

        <tbody>    
            {% for lottery in lotteries %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ lottery.name }}</td>
                    <td>{{ lottery.max_participant }}</td>
                    <td>{{ lottery.description }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odit nulla id quo amet velit praesentium libero dolorem eius, at beatae obcaecati dignissimos soluta minima dicta aliquam eligendi! Labore, saepe.</td>            
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Lihat Undian"><i class="fa fa-eye"></i></button>
                            <a class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Ubah Data Undian" href="{{ url_for('lottery.edit', id=lottery.id) }}"><i class="fa fa-pencil"></i></a>                            
                            
                            <span data-toggle="tooltip" data-placement="top" title="Hapus Undian">
                                <button class="btn btn-xs btn-danger"  data-toggle="modal" data-target="#modalDelete" onclick="setDeleteForm('{{lottery.name}}', {{lottery.id}})">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                        </div>                        
                    </td>
                </tr>     
            {% endfor %}        
        </tbody>
    </table>
</div>
