{% extends 'base.html' %}

{% block title %} Halaman Lottery {% endblock %}

{% block content %} 
	<section id="content">
		<h1 class="text-center mt-5 mb-3">Daftar Undian</h1>
		{% include 'lottery/_table.html' %}
	</section>     
{% endblock %}


{% block script %}
	{{ super() }}
	
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>

	<script>
		function setDeleteForm(name, id) {
			idElement = document.getElementById('lotteryId');
			nameElement = document.getElementById('lotteryName');

			idElement.value = id;
			nameElement.innerHTML = name;
		}
	</script>
{% endblock %}


{% block modal %}
	{% include 'lottery/_modal-delete.html' %}
{% endblock %}
	