{% extends 'base.html' %}

{% block title %} Halaman Utama {% endblock %}

{% block content %} 
	<section id="content">
		<h1 class="text-center mt-5 mb-3">Daftar Undian</h1>
		{% include 'lottery/_table.html' %}
	</section>     
{% endblock %}


{% block script %}
	{{ super() }}
	
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>

	{% include 'lottery/_script-delete.html' %}
{% endblock %}


{% block modal %}
	{% include 'lottery/_modal-delete.html' %}
{% endblock %}
	