<header class="header">
    <div class="container">
        <div class="logo">
            <p class="logo-text">Lottery App</p>
        </div>

        <ul class="header-menus">                
           {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('lottery.index') }}">Dashboard Admin</a>
                </li>                
                <li>
                    <a href="{{ url_for('lottery.create') }}">Buat Undian</a>                    
                </li>
                <li>
                    <a href="{{ url_for('auth.account') }}">Pengaturan Akun</a>                    
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('auth.login') }}">Login</a>
                </li>
            {% endif %}       
        </ul>
    </div>
</header>