<header class="header">
    <div class="container">
        <div class="logo">
            <p class="logo-text">Lottery App</p>
        </div>

        <ul class="header-menus">                
           {% if admin_page %}
                <li>
                    <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ url_for('lottery.create') }}">Buat Undian</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('lottery.index') }}">Halaman Undian</a>
                </li>
            {% endif %}       
        </ul>
    </div>
</header>