{% extends 'base.html' %}

{% block title %}
    Dashboard    
{% endblock %}

{% block content %}
	<section id="content" data-category="belanja">
		<div class="row promo-row">
			{% for lottery in lotteries %}
				<div class="col-md-4 col-sm-6">
					<div class="promotion-box">
						<div class="promotion-image">
							<a target="_blank" href="#">
								<img src="https://dummyimage.com/600x328/878787/fff"
									class="img-responsive img-full viewed"
									alt="{{ lottery.description }}" scale="0">
							</a>
						</div>
						<div class="promotion-description">
							<p>{{ lottery.name }}</p>							
							<div class="promotion-date">
								<div class="promotion-date-detail">
									<div class="promotion-box-label text-secondary">
										<i class="fa fa-clock-o"></i> Dibuat Pada {{ lottery.updated_at }}
									</div>
								</div>
							</div>
							<div class="promotion-code"> 
								<div class="promotion-code-detail">
									<div class="promotion-box-label text-secondary">
										<i class="fa fa-users"></i> Maksimal Peserta : {{ lottery.max_participant }}
									</div>
								</div>

							</div>
						</div>
						<div class="promotion-cta">

							<a target="_blank" href="#" class="promotion__btn">
								Lihat Detail
							</a>

						</div>
					</div>
				</div>
			{% endfor %}								
		</div>
	</section>			
{% endblock %}
    