{% extends 'base.html' %}

{% block title %}
    Dashboard    
{% endblock %}

{% block content %}
	<section id="content" data-category="belanja">
		<div class="row promo-row">

			{% for lottery in lotteries %}
				<div class="col-md-4 col-sm-6">
					<div class="promotion-box">
						<div class="promotion-image">
							<a target="_blank" href="#">
								<img src="https://dummyimage.com/600x328/878787/fff"
									class="img-responsive img-full viewed"
									alt="{{ lottery.description }}" scale="0">
							</a>
						</div>
						<div class="promotion-description">
							<p>{{ lottery.description|truncate(75) }}</p>
							<div class="promotion-date">
								<div class="promotion-date-detail">
									<div class="promotion-box-label text-secondary">
										<i class="fa fa-clock-o"></i> Dibuat Pada {{ lottery.updated_at }}
									</div>
								</div>
							</div>
							<div class="promotion-code"> 
								<div class="promotion-code-detail">
									<div class="promotion-box-label text-secondary">
										<i class="fa fa-users"></i> Maksimal Peserta : {{ lottery.max_participant }}
									</div>
								</div>

							</div>
						</div>
						<div class="promotion-cta">

							<a target="_blank" href="#" class="promotion__btn">
								Lihat Detail
							</a>

						</div>
					</div>
				</div>
			{% endfor %}					

			{#
			<div class="col-md-4 col-sm-6">
				<div class="promotion-box">
					<div class="promotion-image">
						<a target="_blank" href="https://www.tokopedia.com/promo/bank-mandiri-4/?cta_src=363"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Setiap Hari Mandiri Kartu Kredit di Tokopedia Diskon Rp 1jt!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:15667,&quot;name&quot;:&quot;\/promo - p2 - promo list banner&quot;,&quot;position&quot;:2,&quot;creative&quot;:&quot;bank-mandiri-4&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/08\/Thumbnail-20.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">
							<img data-impression="{&quot;event&quot;:&quot;promoView&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;impression on promo&quot;,&quot;eventLabel&quot;:&quot;Setiap Hari Mandiri Kartu Kredit di Tokopedia Diskon Rp 1jt!&quot;,&quot;ecommerce&quot;:{&quot;promoView&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:15667,&quot;name&quot;:&quot;\/promo - p2 - promo list banner&quot;,&quot;position&quot;:2,&quot;creative&quot;:&quot;bank-mandiri-4&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/08\/Thumbnail-20.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}"
								src="{{ url_for('static', filename='img/mini2.jpg') }}"
								class="img-responsive img-full viewed"
								alt="Setiap Hari Mandiri Kartu Kredit di Tokopedia Diskon Rp 1jt!" scale="0">
						</a>
					</div>
					<div class="promotion-description">
						<p>
							Setiap Hari Mandiri Kartu Kredit di Tokopedia Diskon Rp 1jt! </p>
						<div class="promotion-date">
							<div class="promotion-date-detail">
								<div class="promotion-box-label text-secondary">Periode Promo</div>
								<div class="promotion-box__value">
									22 - 31 Agu 2022 </div>
							</div>
						</div>
						<div class="promotion-code">

							<div class="promotion-code-detail">
								<div class="promotion-box-label text-secondary">
									Kode Promo
									<div class="promotion-box-label-tooltip">
										<span class="promotion-box-label-tooltip__icon-info"></span>
										<span class="promotion-box-label-tooltip__text">
											Masukkan kode promo di halaman pembayaran
										</span>
									</div>
								</div>
								<input type="text" class="sticky-code-voucher__text" value="MNDCICIL1JT"
									readonly="">
							</div>


						</div>
					</div>
					<div class="promotion-cta">

						<a target="_blank" href="https://www.tokopedia.com/promo/bank-mandiri-4/?cta_src=363"
							class="promotion__btn"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Setiap Hari Mandiri Kartu Kredit di Tokopedia Diskon Rp 1jt!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:15667,&quot;name&quot;:&quot;\/promo - p2 - promo list banner&quot;,&quot;position&quot;:2,&quot;creative&quot;:&quot;bank-mandiri-4&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/08\/Thumbnail-20.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">Lihat
							Detail</a>

					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="promotion-box">
					<div class="promotion-image">
						<a target="_blank"
							href="https://www.tokopedia.com/promo/bank-standard-chartered-2/?cta_src=363"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Belanja Banyak, Potongannya Juga Banyak! Pakai Kartu Kredit Standard Chartered!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:25634,&quot;name&quot;:&quot;\/promo - p3 - promo list banner&quot;,&quot;position&quot;:3,&quot;creative&quot;:&quot;bank-standard-chartered-2&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/03\/Thumbnail-600x328-9.png&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">
							<img data-impression="{&quot;event&quot;:&quot;promoView&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;impression on promo&quot;,&quot;eventLabel&quot;:&quot;Belanja Banyak, Potongannya Juga Banyak! Pakai Kartu Kredit Standard Chartered!&quot;,&quot;ecommerce&quot;:{&quot;promoView&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:25634,&quot;name&quot;:&quot;\/promo - p3 - promo list banner&quot;,&quot;position&quot;:3,&quot;creative&quot;:&quot;bank-standard-chartered-2&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/03\/Thumbnail-600x328-9.png&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}"
								src="{{ url_for('static', filename='img/mini3.jpg') }}"
								class="img-responsive img-full viewed"
								alt="Belanja Banyak, Potongannya Juga Banyak! Pakai Kartu Kredit Standard Chartered!"
								scale="0">
						</a>
					</div>
					<div class="promotion-description">
						<p>
							Belanja Banyak, Potongannya Juga Banyak! Pakai Kartu Kredit Standard Chartered! </p>
						<div class="promotion-date">
							<div class="promotion-date-detail">
								<div class="promotion-box-label text-secondary">Periode Promo</div>
								<div class="promotion-box__value">
									25 Jun - 30 Sep 2022 </div>
							</div>
						</div>
						<div class="promotion-code">

							<div class="promotion-code-detail">
								<div class="promotion-box-label text-secondary">
									Kode Promo
									<div class="promotion-box-label-tooltip">
										<span class="promotion-box-label-tooltip__icon-info"></span>
										<span class="promotion-box-label-tooltip__text">
											Masukkan kode promo di halaman pembayaran
										</span>
									</div>
								</div>
								<input type="text" class="sticky-code-voucher__text" value="SCBPAYDAY250"
									readonly="">
							</div>


						</div>
					</div>
					<div class="promotion-cta">

						<a target="_blank"
							href="https://www.tokopedia.com/promo/bank-standard-chartered-2/?cta_src=363"
							class="promotion__btn"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Belanja Banyak, Potongannya Juga Banyak! Pakai Kartu Kredit Standard Chartered!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:25634,&quot;name&quot;:&quot;\/promo - p3 - promo list banner&quot;,&quot;position&quot;:3,&quot;creative&quot;:&quot;bank-standard-chartered-2&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/03\/Thumbnail-600x328-9.png&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">Lihat
							Detail</a>

					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="promotion-box">
					<div class="promotion-image">
						<a target="_blank" href="https://www.tokopedia.com/promo/bank-sinarmas-3/?cta_src=363"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Promo Gajian Bank Sinarmas, Apa Aja Diskon Rp 50ribu!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:200689,&quot;name&quot;:&quot;\/promo - p4 - promo list banner&quot;,&quot;position&quot;:4,&quot;creative&quot;:&quot;bank-sinarmas-3&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/08\/02.thumbnail-600x328-4.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">
							<img data-impression="{&quot;event&quot;:&quot;promoView&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;impression on promo&quot;,&quot;eventLabel&quot;:&quot;Promo Gajian Bank Sinarmas, Apa Aja Diskon Rp 50ribu!&quot;,&quot;ecommerce&quot;:{&quot;promoView&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:200689,&quot;name&quot;:&quot;\/promo - p4 - promo list banner&quot;,&quot;position&quot;:4,&quot;creative&quot;:&quot;bank-sinarmas-3&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/08\/02.thumbnail-600x328-4.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}"
								src="{{ url_for('static', filename='img/mini4.jpg') }}"
								class="img-responsive img-full"
								alt="Promo Gajian Bank Sinarmas, Apa Aja Diskon Rp 50ribu!" scale="0">
						</a>
					</div>
					<div class="promotion-description">
						<p>
							Promo Gajian Bank Sinarmas, Apa Aja Diskon Rp 50ribu! </p>
						<div class="promotion-date">
							<div class="promotion-date-detail">
								<div class="promotion-box-label text-secondary">Periode Promo</div>
								<div class="promotion-box__value">
									25 Mei - 31 Des 2022 </div>
							</div>
						</div>
						<div class="promotion-code">

							<div class="promotion-code-detail">
								<div class="promotion-box-label text-secondary">
									Kode Promo
									<div class="promotion-box-label-tooltip">
										<span class="promotion-box-label-tooltip__icon-info"></span>
										<span class="promotion-box-label-tooltip__text">
											Masukkan kode promo di halaman pembayaran
										</span>
									</div>
								</div>
								<input type="text" class="sticky-code-voucher__text" value="SIMASPAYDAY50"
									readonly="">
							</div>


						</div>
					</div>
					<div class="promotion-cta">

						<a target="_blank" href="https://www.tokopedia.com/promo/bank-sinarmas-3/?cta_src=363"
							class="promotion__btn"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Promo Gajian Bank Sinarmas, Apa Aja Diskon Rp 50ribu!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:200689,&quot;name&quot;:&quot;\/promo - p4 - promo list banner&quot;,&quot;position&quot;:4,&quot;creative&quot;:&quot;bank-sinarmas-3&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/08\/02.thumbnail-600x328-4.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">Lihat
							Detail</a>

					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="promotion-box">
					<div class="promotion-image">
						<a target="_blank" href="https://www.tokopedia.com/promo/bank-mega-2/?cta_src=363"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Borong Pas Gajian Berasa Untungnya di Tokopedia, Diskon Rp 150.000 dengan Kartu Kredit Bank Mega&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:113369,&quot;name&quot;:&quot;\/promo - p5 - promo list banner&quot;,&quot;position&quot;:5,&quot;creative&quot;:&quot;bank-mega-2&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/11\/Thumbnail-copy-80.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">
							<img data-impression="{&quot;event&quot;:&quot;promoView&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;impression on promo&quot;,&quot;eventLabel&quot;:&quot;Borong Pas Gajian Berasa Untungnya di Tokopedia, Diskon Rp 150.000 dengan Kartu Kredit Bank Mega&quot;,&quot;ecommerce&quot;:{&quot;promoView&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:113369,&quot;name&quot;:&quot;\/promo - p5 - promo list banner&quot;,&quot;position&quot;:5,&quot;creative&quot;:&quot;bank-mega-2&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/11\/Thumbnail-copy-80.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}"
								src="{{ url_for('static', filename='img/mini5.jpg') }}"
								class="img-responsive img-full"
								alt="Borong Pas Gajian Berasa Untungnya di Tokopedia, Diskon Rp 150.000 dengan Kartu Kredit Bank Mega"
								scale="0">
						</a>
					</div>
					<div class="promotion-description">
						<p>
							Borong Pas Gajian Berasa Untungnya di Tokopedia, Diskon Rp 150.000 dengan Kartu
							Kredit Bank Mega </p>
						<div class="promotion-date">
							<div class="promotion-date-detail">
								<div class="promotion-box-label text-secondary">Periode Promo</div>
								<div class="promotion-box__value">
									25 Mei - 30 Sep 2022 </div>
							</div>
						</div>
						<div class="promotion-code">

							<div class="promotion-code-detail">
								<div class="promotion-box-label text-secondary">
									Kode Promo
									<div class="promotion-box-label-tooltip">
										<span class="promotion-box-label-tooltip__icon-info"></span>
										<span class="promotion-box-label-tooltip__text">
											Masukkan kode promo di halaman pembayaran
										</span>
									</div>
								</div>
								<input type="text" class="sticky-code-voucher__text" value="MEGAPAYDAY150"
									readonly="">
							</div>


						</div>
					</div>
					<div class="promotion-cta">

						<a target="_blank" href="https://www.tokopedia.com/promo/bank-mega-2/?cta_src=363"
							class="promotion__btn"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Borong Pas Gajian Berasa Untungnya di Tokopedia, Diskon Rp 150.000 dengan Kartu Kredit Bank Mega&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:113369,&quot;name&quot;:&quot;\/promo - p5 - promo list banner&quot;,&quot;position&quot;:5,&quot;creative&quot;:&quot;bank-mega-2&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2021\/11\/Thumbnail-copy-80.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">Lihat
							Detail</a>

					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="promotion-box">
					<div class="promotion-image">
						<a target="_blank" href="https://www.tokopedia.com/promo/bank-mayapada-3/?cta_src=363"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Banyak Promo, Hati Riang! Pakai Kartu Kredit Mayapada untuk Belanja di Tokopedia Sekarang!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:119732,&quot;name&quot;:&quot;\/promo - p6 - promo list banner&quot;,&quot;position&quot;:6,&quot;creative&quot;:&quot;bank-mayapada-3&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/06\/3-600x328.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">
							<img data-impression="{&quot;event&quot;:&quot;promoView&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;impression on promo&quot;,&quot;eventLabel&quot;:&quot;Banyak Promo, Hati Riang! Pakai Kartu Kredit Mayapada untuk Belanja di Tokopedia Sekarang!&quot;,&quot;ecommerce&quot;:{&quot;promoView&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:119732,&quot;name&quot;:&quot;\/promo - p6 - promo list banner&quot;,&quot;position&quot;:6,&quot;creative&quot;:&quot;bank-mayapada-3&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/06\/3-600x328.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}"
								src="{{ url_for('static', filename='img/mini6.jpg') }}"
								class="img-responsive img-full"
								alt="Banyak Promo, Hati Riang! Pakai Kartu Kredit Mayapada untuk Belanja di Tokopedia Sekarang!"
								scale="0">
						</a>
					</div>
					<div class="promotion-description">
						<p>
							Banyak Promo, Hati Riang! Pakai Kartu Kredit Mayapada untuk Belanja di Tokopedia
							Sekarang! </p>
						<div class="promotion-date">
							<div class="promotion-date-detail">
								<div class="promotion-box-label text-secondary">Periode Promo</div>
								<div class="promotion-box__value">
									25 Jul - 30 Sep 2022 </div>
							</div>
						</div>
						<div class="promotion-code">

							<div class="promotion-code-detail">
								<div class="promotion-box-label text-secondary">
									3 Kode Promo
								</div>
							</div>

						</div>
					</div>
					<div class="promotion-cta">

						<a target="_blank" href="https://www.tokopedia.com/promo/bank-mayapada-3/?cta_src=363"
							class="promotion__btn"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Banyak Promo, Hati Riang! Pakai Kartu Kredit Mayapada untuk Belanja di Tokopedia Sekarang!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:119732,&quot;name&quot;:&quot;\/promo - p6 - promo list banner&quot;,&quot;position&quot;:6,&quot;creative&quot;:&quot;bank-mayapada-3&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/06\/3-600x328.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">Lihat
							Detail</a>

					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="promotion-box">
					<div class="promotion-image">
						<a target="_blank"
							href="https://www.tokopedia.com/promo/bank-entry-point-7/?cta_src=363"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Hari Gajian Tiba, Hati Bahagia! Segera Belanja di Tokopedia!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:222034,&quot;name&quot;:&quot;\/promo - p7 - promo list banner&quot;,&quot;position&quot;:7,&quot;creative&quot;:&quot;bank-entry-point-7&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/07\/Paydeals-PG-4.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">
							<img data-impression="{&quot;event&quot;:&quot;promoView&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;impression on promo&quot;,&quot;eventLabel&quot;:&quot;Hari Gajian Tiba, Hati Bahagia! Segera Belanja di Tokopedia!&quot;,&quot;ecommerce&quot;:{&quot;promoView&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:222034,&quot;name&quot;:&quot;\/promo - p7 - promo list banner&quot;,&quot;position&quot;:7,&quot;creative&quot;:&quot;bank-entry-point-7&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/07\/Paydeals-PG-4.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}"
								src="{{ url_for('static', filename='img/mini7.jpg') }}"
								class="img-responsive img-full"
								alt="Hari Gajian Tiba, Hati Bahagia! Segera Belanja di Tokopedia!" scale="0">
						</a>
					</div>
					<div class="promotion-description">
						<p>
							Hari Gajian Tiba, Hati Bahagia! Segera Belanja di Tokopedia! </p>
						<div class="promotion-date">
							<div class="promotion-date-detail">
								<div class="promotion-box-label text-secondary">Periode Promo</div>
								<div class="promotion-box__value">
									25 Jul - 30 Sep 2022 </div>
							</div>
						</div>
						<div class="promotion-code">

							<div class="promotion-code-detail">
								<div class="promotion-box-label text-secondary">
									15 Kode Promo
								</div>
							</div>

						</div>
					</div>
					<div class="promotion-cta">

						<a target="_blank"
							href="https://www.tokopedia.com/promo/bank-entry-point-7/?cta_src=363"
							class="promotion__btn"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Hari Gajian Tiba, Hati Bahagia! Segera Belanja di Tokopedia!&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:222034,&quot;name&quot;:&quot;\/promo - p7 - promo list banner&quot;,&quot;position&quot;:7,&quot;creative&quot;:&quot;bank-entry-point-7&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/07\/Paydeals-PG-4.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">Lihat
							Detail</a>

					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="promotion-box">
					<div class="promotion-image">
						<a target="_blank" href="https://www.tokopedia.com/promo/bank-debit-dbs/?cta_src=363"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Promo Gajian Kartu Debit digibank diskon s.d Rp 500rb | Tokopedia&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:118099,&quot;name&quot;:&quot;\/promo - p8 - promo list banner&quot;,&quot;position&quot;:8,&quot;creative&quot;:&quot;bank-debit-dbs&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/07\/Thumbnail-22.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">
							<img data-impression="{&quot;event&quot;:&quot;promoView&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;impression on promo&quot;,&quot;eventLabel&quot;:&quot;Promo Gajian Kartu Debit digibank diskon s.d Rp 500rb | Tokopedia&quot;,&quot;ecommerce&quot;:{&quot;promoView&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:118099,&quot;name&quot;:&quot;\/promo - p8 - promo list banner&quot;,&quot;position&quot;:8,&quot;creative&quot;:&quot;bank-debit-dbs&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/07\/Thumbnail-22.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}"
								src="{{ url_for('static', filename='img/mini8.jpg') }}"
								class="img-responsive img-full"
								alt="Promo Gajian Kartu Debit digibank diskon s.d Rp 500rb | Tokopedia"
								scale="0">
						</a>
					</div>
					<div class="promotion-description">
						<p>
							Promo Gajian Kartu Debit digibank diskon s.d Rp 500rb | Tokopedia </p>
						<div class="promotion-date">
							<div class="promotion-date-detail">
								<div class="promotion-box-label text-secondary">Periode Promo</div>
								<div class="promotion-box__value">
									25 - 31 Agu 2022 </div>
							</div>
						</div>
						<div class="promotion-code">

							<div class="promotion-code-detail">
								<div class="promotion-box-label text-secondary">
									2 Kode Promo
								</div>
							</div>

						</div>
					</div>
					<div class="promotion-cta">

						<a target="_blank" href="https://www.tokopedia.com/promo/bank-debit-dbs/?cta_src=363"
							class="promotion__btn"
							data-click="{&quot;event&quot;:&quot;promoClick&quot;,&quot;eventCategory&quot;:&quot;promo microsite - promo list&quot;,&quot;eventAction&quot;:&quot;user click on promo&quot;,&quot;eventLabel&quot;:&quot;Promo Gajian Kartu Debit digibank diskon s.d Rp 500rb | Tokopedia&quot;,&quot;ecommerce&quot;:{&quot;promoClick&quot;:{&quot;promotions&quot;:[{&quot;id&quot;:118099,&quot;name&quot;:&quot;\/promo - p8 - promo list banner&quot;,&quot;position&quot;:8,&quot;creative&quot;:&quot;bank-debit-dbs&quot;,&quot;creative_url&quot;:&quot;https:\/\/ecs7.tokopedia.net\/img\/blog\/promo\/2022\/07\/Thumbnail-22.jpg&quot;,&quot;category&quot;:&quot;belanja&quot;}]}}}">Lihat
							Detail</a>

					</div>
				</div>
			</div>
			#}
		</div>
		<!-- ./row -->
	</section>			
{% endblock %}
    